<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account | Income Tax Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery-3.6.3.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img border="0" alt="Income Tax Calculator" src="img/logo.png" width="90" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Log In/Sign Up
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{./login2}">Log In</a></li>
                        <li><a class="dropdown-item" th:href="@{./sign_up}">Sign Up</a></li>
                    </ul>
                </li>
                <li>&nbsp;&nbsp;</li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{./account}" role="button">Account</a>
                </li>
                <li>&nbsp;&nbsp;</li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{./calculations}" role="button">Calculations</a>
                </li>
                <li>&nbsp;&nbsp;</li>
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{./logout}" role="button">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div align="center">
        <div style="border-style:solid; width:650px; padding: 20px;">
            <h1>
                Account details
            </h1>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Name/email were successfully updated
                </div>
            </div>
            <form action="#" th:action="@{/account/submit}" th:object="${userDTO}" method="post">
                <label>Name:</label>
                <input type="text" th:field="*{name}"><br>
                <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                   th:errors="*{name}"></p>
                <label>E-mail:</label>
                <input type="text" th:field="*{email}"><br>
                <p th:if="${#fields.hasErrors('email')}" class="text-danger"
                   th:errors="*{email}"></p><br>
                <button class="btn btn-primary" type="submit">Update</button>
            </form>
            <br><br><br>
            <div th:if="${param.successNewPassword}">
                <div class="alert alert-info">
                    Password was successfully updated
                </div>
            </div>
            <form action="#" th:action="@{/account/submitNewPassword}" th:object="${userDTO}" method="post">
                <label>Password:</label>
                <input type="password" th:field="*{password}"><br>
                <p th:if="${#fields.hasErrors('password')}" class="text-danger"
                   th:errors="*{password}"></p>
                <label>Confirm Password:</label>
                <input type="password" th:field="*{password2}"><br>
                <p th:if="${#fields.hasErrors('password2')}" class="text-danger"
                   th:errors="*{password2}"></p><br>
                <button class="btn btn-primary" type="submit">Set new password</button>
            </form>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer class="footer-copyright text-center bg-primary py-3"
            style="position:fixed; height:50px; width:100%; button:0;">
        <div>
            <strong>
                Copyright &copy; 2023
                All rights reserved.
            </strong>
        </div>
    </footer>
</body>
</html>
