<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculations | Income Tax Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery-3.6.3.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img border="0" alt="Income Tax Calculator" src="img/logo.png" width="90" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Log In/Sign Up
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{./login}">Log In</a></li>
                            <li><a class="dropdown-item" th:href="@{./sign_up}">Sign Up</a></li>
                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;</li>
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{./account}" role="button">Account</a>
                    </li>
                    <li>&nbsp;&nbsp;</li>
                </ul>
            </div>
        </div>
    </nav>

    <div align="center">
        <h1>
            Calculations
        </h1>
        <div th:if="${not#lists.isEmpty(filingParametersDTOList)}">
            <table class="table table-striped">
                <tr>
                    <th>Year</th>
                    <th>State</th>
                    <th>Filing Status</th>
                    <th>Income</th>
                    <th>State Tax</th>
                    <th>Federal Tax</th>
                    <th>FICA Tax</th>
                    <th>Medicare Tax</th>
                    <th>Total Tax</th>
                    <th>Effective Tax Rate</th>
                    <th>Date</th>
                </tr>
                <tr th:each="p : ${filingParametersDTOList}">
                    <td th:text="${p.year}"></td>
                    <td th:text="${p.state}"></td>
                    <td th:text="${p.filingStatus}"></td>
                    <td th:text="${p.income}"></td>
                    <td th:text="${p.stateTaxAmount}"></td>
                    <td th:text="${p.federalTaxAmount}"></td>
                    <td th:text="${p.ficaTaxAmount}"></td>
                    <td th:text="${p.additionalMedicareTaxAmount}"></td>
                    <td th:text="${p.totalTaxAmount}"></td>
                    <td th:text="${p.effectiveTaxRate}"></td>
                    <td th:text="${p.createdOn}"></td>
                </tr>
            </table>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br>

    <footer class="footer-copyright text-center bg-primary py-3"
            style="position:fixed; height:50px; width:100%; button:0;">
        <div>
            <strong>
                Copyright &copy; 2023
                All rights reserved.
            </strong>
        </div>
    </footer>
</body>
</html>
