<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home | State Tax Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div align="right">
        <a class="button" href="./login">Login</a>
        <a class="button" href="./sign_up">SignUp</a>
    </div>
    <div align="center">
        <h1>
            State Tax Calculator
        </h1>
    </div>
    <div align="center">
        <h2> Welcome to our State Tax Calculator page.</h2>
        <h3> Here you can estimate the amount of state taxes you need to pay in your particular case.</h3>
    </div>

</body>
</html>
